# Build and target artifacts
/build/
/target/

# Database UI backups
/**/*.bak

# IDE specific settings
.github/ISSUE_TEMPLATE/
.settings/
.classpath
.project
.prettierrc


# CRITICAL SECURITY: Block database secrets and credentials
**/application.properties

# Dynamic web build folders (Keep only if generated automatically)
WebContent/
